.lista{
    margin-bottom: 10px;   
}

.tamanhodoInpunt{
    width: 1400px;;
}
.cor-btn{
    background-color: #479bd8;
    border: #479bd8;
}

.cor{
    background: rgb(187, 243, 187);
}
.cor2{
    background: rgb(238, 173, 173);
}

.cor-bar{
    background: red;
}

body {
    font-size: 6px;
}
