@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.label-for{
    margin-right: 89%;
    font-size: initial;

}

.selectpicker{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: no-repeat center right #FFF;
    border: 1px solid rgb(194, 191, 191);
    font-size: 12px;
    padding-right: 1px;
    color: rgb(94, 89, 89);
    /* width: 1200px; */
    /* height: 29px; */
    cursor: pointer;
    
}
.selectpicker:hover{
    color: #1b1b1b;
    border: #1b1b1b;
}

.input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: no-repeat center right #FFF;
    border: 1px solid rgb(194, 191, 191);
    font-size: 12px;
    padding-right: 20px;
    color: rgb(94, 89, 89);
    /* width: 1200px; */
    /* height: 29px; */
    cursor: pointer;   
}



.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease;
}
.sidebar.show{
    left: 0px;
}
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}
/*nav ul{*/
/*    background: #1b1b1b;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    list-style: none;*/
/*}*/
nav ul li{
    line-height: 60px;
    border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
    position: relative;
    color: rgba(255, 255, 255, 0.58);
    text-decoration: none;
    font-size: 12px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li.active a{
    color: #ffffff;
    background: #32cff8;
    border-left-color: cyan;
}
nav ul li a:hover{
    background: #1e1e1e;
    color: #ffffff;
}
nav ul ul{
    position: static;
    display: none;
}
nav ul .feat-show.show{
    display: block;
}
nav ul .serv-show.show1{
    display: block;
}
nav ul .relatorio-show.show2{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-top: none;
}
nav ul ul li a{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.58);
    padding-left: 80px;
}
nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}
nav ul ul li a:hover{
    color: #ffffff !important;
    background: #3a3a3f !important;
}
nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #202020;
    z-index: -1;
    text-align: center;
}
.content .header{
    font-size: 45px;
    font-weight: 600;
}
.content p{
    font-size: 30px;
    font-weight: 500;
}