
#float {
    position: fixed;
    top: 3em;
    right: 2em;
    z-index: 100;
}
#menu-topo{
    background-color: #27A9E3;
}

#nav-bar{
    background-color: #ffffff;
}

#titulo{
    color: #27A9E3;
}

#bt{
    text-align: center;
}

.botao {
    width: 5.5em;
    height: 2.3em;
    margin: 0.5em;
    background: #27A9E3;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.625em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   button:hover {
    color: #013b91;
   }
   
/*   button:after {*/
/*    content: "";*/
/*    background: white;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    left: -20%;*/
/*    right: -20%;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    transform: skewX(-45deg) scale(0, 1);*/
/*    transition: all 0.5s;*/
/*   }*/
/*   */
/*   button:hover:after {*/
/*    transform: skewX(-45deg) scale(1, 1);*/
/*    -webkit-transition: all 0.5s;*/
/*    transition: all 0.5s;*/
/*}*/

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

input{
    /*margin-top: 60px;*/
    /*height: 25px;*/
    /*padding: px;*/
    width: 250px;
    border-radius: 1px;
    border: 0.1px solid rgba(93,97,95,0.68);
    font-size: 10px;
}

/*input:hover{*/
/*    border: 2px solid #27A9E3;*/
/*    padding: 10px;*/
/*    border-radius: 20px;*/
/*}*/

select {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

select:hover{
    border: 2px solid #27A9E3;
    padding: 5px;
    border-radius: 20px;
}

footer{
    margin-left: 100px;
}

.cards{
    background-color: rgb(47, 47, 51);
    border-radius: 10px 35px;
}

#testeFundo{
    background-color: rgb(130, 10, 209);
}

.bloco{
    border: 1px solid black;
}
.imgRelatorio{
    width: 60px;
    height: 60px;
    border-radius: 5%;
}

.botao_detalhes{
    height: 30px;
    width: 30px;
    border: 0px;
    float: end;
    margin-left: 35px;
    margin-top:-30.10px ;
    background: green;
    color: white;
    border-radius: 3px;
}
.form_bt{
    border-bottom: 0px;
    width: 100px;
}
.botao_detalhes1{
    height: 30px;
    width: 30px;
    border: 0px;
    background: #0f7d94;
    color: white;
    border-radius: 3px;
    margin-top:1.10px ;
    margin-right: 1000px;
    /*margin-top:-45px ;*/
}

.botao_detalhes2{
    height: 30px;
    width: 30px;
    border: 0px;
    float: end;
    margin-left: -35px;
    margin-top:-29.1px ;
    background: red;
    color: white;
    border-radius: 3px;
}
.botao_detalhes3{
    height: 30px;
    width: 30px;
    border: 0px;
    float: end;
    margin-left: 70px;
    margin-top:-29.1px ;
    background: red;
    color: white;
    border-radius: 3px;
}

.imdAnexo{
    width: 100%;
    height: 100%;
    border-radius: 5%;
}
.botao_detalhes4{
    height: 30px;
    width: 30px;
    border: 0px;
    float: end;
    margin-left: 104px;
    margin-top:-30.1px ;
    background: gray;
    color: white;
    border-radius: 3px;
}

.relarotios{
    width:110%; 
    margin-left: 190px;
}